<%= f.hidden_field :position %>
<div class="row" data-hook="admin_content_fragment_form_fields">
  <div class="col-md-8" data-hook="admin_content_fragment_form_left">
    <div class="form-group">
      <%= f.label :title %> <span class="required">*</span>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.error_message_on :title %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 12, class: 'form-control' %>
      <%= f.error_message_on :body %>
    </div>

    <div class="form-group">
      <%= f.label :style %>
      <%= f.text_area :style, rows: 12, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-4" data-hook="admin_content_fragment_form_right">

    <div class="form-group">
      <%= f.label 'Background image or video' %>
      <% if f.object.background_media.present? %>
        <p>
          <%= image_tag f.object.background_media.url(:thumb) %>
        </p>
      <% end %>
      <%= f.file_field :background_media, class: 'form-control' %>
    </div>

    <hr>

    <div class="form-group">
      <%= f.label :fullpage do %>
        <%= f.check_box :fullpage, wrapper_html: { tag_name: 'span'} %>
          Fullscreen
          <p class="text-muted">Fit content fragment to view height.</p>
      <% end %>
    </div>

    <hr>

    <div class="form-group">
      <%= f.label :box_around_content do %>
        <%= f.check_box :box_around_content %>
        Box around text
        <p class="text-muted"></p>
      <% end %>
    </div>

    <hr>

    <div class="form-group">
      <%= f.label :content_position_h %><br>
      <%= f.select(:content_position_h, Spree::ContentFragment.content_position_hs.keys.map {|role| [role.titleize,role]}) %>
    </div>

    <div class="form-group">
      <%= f.label :content_position_v %><br>
      <%= f.select(:content_position_v, Spree::ContentFragment.content_position_vs.keys.map {|role| [role.titleize,role]}) %>
    </div>

  </div>
</div>
